[submodule "external/px4_ros_com"]
	path = external/px4_ros_com
	url = https://github.com/PX4/px4_ros_com
	ignore = dirty

[submodule "external/px4_msgs"]
	path = external/px4_msgs
	url = https://github.com/PX4/px4_msgs
	ignore = dirty
